<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
  <dict>
  
  <key>title</key>
  <string>保卫粮食</string>

  <key>stargame</key>
  <string>开始灭鼠</string>

  <key>gameover</key>
  <string>灭鼠结束</string>

  <key>about</key>
  <string>关于</string>

  <key>signin</key>
  <string>签到奖励</string>

  <key>day</key>
  <string>日</string>

  <key>revive</key>
  <string>复活</string>

  <key>abouttitle11</key>
  <string>您已经消灭了</string>

  <key>abouttitle12</key>
  <string>只老鼠</string>

  <key>abouttitle21</key>
  <string>为地球节约了</string>

  <key>abouttitle22</key>
  <string>公斤粮食</string>

  <key>aboutdesc1</key>
  <string>一只老鼠</string>

  <key>aboutdesc2</key>
  <string>一年可以吃掉9公斤粮食</string>

  <key>aboutdesc3</key>
  <string>一公一母</string>

  <key>aboutdesc4</key>
  <string>一年可以生育350只小老鼠</string>

  <key>aboutdesc5</key>
  <string>每消灭一只老鼠</string>

  <key>aboutdesc6</key>
  <string>就可以为地球</string>

  <key>aboutdesc7</key>
  <string>节约1000公斤左右的粮食</string>

  <key>aboutdesc8</key>
  <string>立刻开始消灭老鼠</string>

  <key>aboutdesc9</key>
  <string>为地球贡献力量</string>

  <key>killmole1</key>
  <string>消灭了</string>

  <key>killmole2</key>
  <string>只地鼠</string>

  <key>savefood1</key>
  <string>抢救了</string>

  <key>savefood2</key>
  <string>公斤粮食</string>

  <key>rank</key>
  <string>排名</string>

  <key>scoreup</key>
  <string>分数再高</string>

  <key>rankup</key>
  <string>，排名就可上升到</string>


</dict>

</array>
</plist>